* {
    margin: 0;
    padding: 0;
}
.navigation-bar {
    position: relative;
    background-color: black;
    width: 100%;
    height: 100px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.header {
    box-sizing: border-box;
    color: white;
    text-align: center;
}
.section1 {
    box-sizing: border-box;
    background-image: url(https://img.freepik.com/premium-photo/pink-soap-bubbles-background_36860-283.jpg?w=2000);
    width: 100%;
    height: 700px;
}
.bothPics {
    padding: 30px;
    text-align: center;
}
.pic1 {
    width: 50%;
    float: left;
}
.pic2 {
    width: 50%;
    float: right;
}
.bothTexts {
    padding-left: 110px;
    line-height: 1.7;
}
.pic1Text {
    width: 50%;
    float: left;
}
.pic1Text > h3 {
    font-size: 40px;
}
.pic1Text > p {
    font-size: 20px;
}
.pic2Text {
    width: 50%;
    float: right;
}
.pic2Text > h3 {
    font-size: 40px;
}
.pic2Text > p {
    font-size: 20px;
}
.button1 {
    box-sizing: border-box;
    width: 200px;
    height: 50px;
    color: white;
    background-color: black;
    text-align: center;
    padding-top: 10px;
    margin-top: 10px;
}
.button2 {
    box-sizing: border-box;
    width: 200px;
    height: 50px;
    color: white;
    background-color: black;
    text-align: center;
    padding-top: 10px;
    margin-top: 40px;
}
.section2 {
    box-sizing: border-box;
    background-color: gray;
    width: 100%;
    height: 300px;
}
.fourPictures {
    text-align: center;
    padding: 20px;
}
.picsSection2 {
    width: 20%;
    padding: 20px;
}
.textSection2 {
    background-color: antiquewhite;
    text-align: center;
}
.textSection2 > p  {
    text-align: center;
    display: inline;
    padding-left: 200px;
    background-color: aqua;
}